.signin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 28rem;
  width: 24rem;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.15);
  font-family: Poppins;
  border-radius: 2.5rem;
  padding-top: 0;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.signin-container .signin-type {
  background-color: #DADADA;
  border-radius: 2.5rem 2.5rem 0 0;
  height: 3.6rem;
  width: 24rem;
  font-size: 1.1em;
  display: inline-flex;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #1D1C1D;
  margin-top: -2.5em;
  transition: border-color 0.3s ease;
}
.signin-container .signin-type .signin-span {
  display: inline-flex;
  text-align: center;
  height: 3.6rem;
  width: 9rem;
  box-shadow: 0px 15px -15px 0px rgba(0, 0, 0, 0.15);
}
.signin-container .signin-type .signin-span:hover {
  cursor: pointer;
}
.signin-container .signin-type .signin-span span {
  align-self: center;
  padding: 0 23%;
}
.signin-container .signin-type .active {
  background-color: #FFFFFF;
  width: 15rem;
  color: #105EF5;
  font-weight: 500;
  border-radius: 2.5rem 2.5rem 0 0;
}
.signin-container .signin-type .active span {
  padding-left: 4.5em;
}
.signin-container .signin-welcome {
  display: inline-flex;
  font-family: Poppins;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  gap: 0.5em;
}
.signin-container .signin-box {
  display: flex;
  flex-direction: column;
}
.signin-container .signin-box label {
  font-size: 0.8em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #1D1C1D;
  margin-bottom: 0.3em;
  margin-top: -0.2em;
}
.signin-container .signin-box .signin-input {
  width: 24em;
  height: 3em;
  border-radius: 0.5em;
  border: 1px solid #ADADAD;
  background: #FFF;
  text-indent: 1em;
  transition: border-color 0.3s ease;
}
.signin-container .signin-box .signin-input:focus {
  margin: -1.2px;
  border: 2px solid #105EF5;
  outline: none;
}
.signin-container .signin-box .signin-error {
  font-size: 0.7em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: red;
  margin-top: 0.2em;
  margin-bottom: -1.75em;
  padding-left: 0.5em;
}
.signin-container .password {
  margin-bottom: 1em;
}
.signin-container .email {
  margin-bottom: 1.5em;
}
.signin-container .signin-new {
  display: inline-flex;
  gap: 14em;
  font-size: 0.7em;
  margin-bottom: 0.8em;
}
.signin-container .signin-new a {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #105EF5;
  margin-left: 0.5em;
  text-decoration: none;
}
.signin-container .signin-new a:hover {
  cursor: pointer;
}
.signin-container .signin-new a span {
  display: block;
  color: #ADADAD;
}
.signin-container button[type=submit] {
  width: 100%;
  padding: 0.85em;
  border: none;
  border-radius: 4px;
  background-color: #105EF5;
  color: #FFFFFF;
  font-size: 0.9Sem;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.signin-container button[type=submit]:active {
  background-color: #184BAE;
  box-shadow: 0 0.4em 0.4em rgba(0, 0, 0, 0.2) inset;
}
.signin-container button[type=submit]:disabled {
  background-color: #5990FD;
  cursor: not-allowed;
}
.signin-container button[type=submit]:not(:disabled):hover {
  background-color: #184BAE;
}
.signin-container .error {
  font-size: 1.2em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: red;
  margin-top: -1.2em;
  padding-left: 0.5em;
}/*# sourceMappingURL=Signin.css.map */