.user-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 28rem;
  width: 24rem;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.15);
  font-family: Poppins;
  border-radius: 2.5rem;
  padding-top: 0;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.user-info-container .user-info-welcome {
  display: inline-flex;
  font-family: Poppins;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  gap: 0.5em;
  margin-bottom: -0.7em;
  margin-top: -0.7em;
}
.user-info-container .user-info-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
.user-info-container .user-info-box label {
  font-size: 0.8em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #1D1C1D;
  margin-bottom: 0.3em;
  margin-top: -0.2em;
}
.user-info-container .user-info-box .user-info-input {
  width: 24em;
  height: 3em;
  border-radius: 0.5em;
  border: 1px solid #ADADAD;
  background: #FFF;
  text-indent: 1em;
  transition: border-color 0.3s ease;
}
.user-info-container .user-info-box .user-info-input:focus {
  margin: -1.2px;
  border: 2px solid #105EF5;
  outline: none;
}
.user-info-container .user-info-box .user-info-error {
  font-size: 0.7em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: red;
  margin-bottom: -1.5em;
  padding-left: 0.5em;
}
.user-info-container .user-info-new {
  display: inline-flex;
  gap: 14em;
  font-size: 0.7em;
  margin-bottom: 0.8em;
}
.user-info-container .user-info-new a {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #105EF5;
  margin-left: 0.5em;
  text-decoration: none;
}
.user-info-container .user-info-new a:hover {
  cursor: pointer;
}
.user-info-container .user-info-new a span {
  display: block;
  color: #ADADAD;
}
.user-info-container button[type=submit] {
  width: 100%;
  padding: 0.85em;
  border: none;
  border-radius: 4px;
  background-color: #105EF5;
  color: #FFFFFF;
  font-size: 0.9Sem;
  font-style: normal;
  font-weight: 500;
  margin-top: 1em;
  margin-bottom: -0.5em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.user-info-container button[type=submit]:active {
  background-color: #184BAE;
  box-shadow: 0 0.4em 0.4em rgba(0, 0, 0, 0.2) inset;
}
.user-info-container button[type=submit]:disabled {
  background-color: #5990FD;
  cursor: not-allowed;
}
.user-info-container button[type=submit]:not(:disabled):hover {
  background-color: #184BAE;
}
.user-info-container .back {
  height: 40px;
  width: auto;
  padding-left: 5px;
  margin-top: -1em;
  margin-bottom: -1em;
  margin-right: 11em;
  color: #FFFFFF;
  background-color: #105EF5;
  border-radius: 15px;
  transform: rotate(180deg);
  cursor: pointer;
}
.user-info-container .back:active {
  background-color: #184BAE;
  box-shadow: 0 0.4em 0.4em rgba(0, 0, 0, 0.2) inset;
}
.user-info-container .back:disabled {
  background-color: #5990FD;
  cursor: not-allowed;
}
.user-info-container .back:not(:disabled):hover {
  background-color: #184BAE;
}/*# sourceMappingURL=UserInfo.css.map */