$background-color: #FAFBFD;
$solid-white: #FFFFFF;
$black: #1D1C1D;
$grey: #ADADAD;
$dark-grey: #6E6E6E;
$light-grey: #DADADA;
$primary: #105EF5;
$primary-darken: #184BAE;
$primary-lighten: #5990FD;
$secondary: #CAE5FF;
$accent: #ACEDFF;
